* {
    box-sizing: border-box;
}

:root {
    --color-primary: #ee3425;
    --color-primary-1: #ee3425;
    --color-primary-2: #ee3425;
    --color-secondary: #fbdc00;
    --color-secondary-1: #ebbe00;
    --color-secondary-5: #fff;
    --font-color: #434343;
    --font-color-heading: #000;
    --font-color-link: var(--color-primary);
    --font-family: "PT Sans",sans-serif;
    --font-family-heading: "Ubuntu",sans-serif;
    --font-size-xl: 18px;
    --font-size-lg: 16px;
    --font-size-md: 14px;
    --font-size-sm: 12px;
    --font-size-xs: 10px;
    --line-height: 1.5;
}

html, body {
    margin: 0;
    /* height: 100%; */
    font-family: "PT Sans",sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.2
}

@media (max-width: 767px) {
    h1 {
        font-size:24px
    }
}

h2 {
    font-size: 40px;
    line-height: 1.2
}

@media (max-width: 767px) {
    h2 {
        font-size:24px
    }
}

h3 {
    font-size: 28px;
    line-height: 1.2
}

@media (max-width: 767px) {
    h3 {
        font-size:20px
    }
}

p {
    font-size: 16px
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu",sans-serif;
    color: black
}

button {
    font-family: "PT Sans",sans-serif;
    font-size: 14px!important;
    font-weight: 700!important;
}

.card { 
    display: flex;
    padding: 16px;
    width: 1200px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .card {
        width: 100%;
        flex-direction: column;
    }
}


.left-card {
    flex: 1 1;
    align-self: center;
    /* text-align: center; */
}

.left-card h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Ubuntu",sans-serif;
}

.left-card p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 100;
}

.right-card {
    flex: 1 1;
    padding-top: 37px;
}

@media (min-width: 767px) and (max-width: 1200px) {
    .container, .container-2, .container-3 {
        width: 1200px;
    }
    .container-4, .container-5, .container-6 {
        width: 1200px;
    }
    .container-7, .container-8, .container-9, .container-10 {
        width: 1200px;
    }
    .footer-1, .footer-2, .footer-3 {
        width: 1200px;
    }
}

