/* Container 1 */

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 8px 16px;
    font-family: "Ubuntu",sans-serif;
    font-weight: 500;
    color: #000;
    background: #fbdc00;
}

@media screen and (max-width: 767px) {
    .nav-bar {
        width: 100%;
    }

    .nav-bar-collapse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

#nav-bar {
    background-color: #fbdc00;
    transition: background-color 0.2s ease;
}

.logo {
    display: block;
    flex-shrink: 0;
    margin-left: auto;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .logo {
        margin-left: 10px;
    }
}

.navigate {
    margin-right: auto;
    margin-left: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-list div {
    padding-left: 40px;
    font-size: 14px;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
  
.burger div {
    width: 20px;
    height: 2px;
    background-color: #000;
    margin: 2px;
}

@media screen and (max-width: 667px) {
    .navigate {
      display: none;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    .nav-list {
        flex-direction: column;
    }

    .login {
        display: none;
        align-items: center;
        margin: 0;
    }

    .navigate.nav-active {
        display: flex;
        margin-top: 170px;
    }

    .login.nav-active {
        display: flex;
    }
  
    .navigate div {
      margin: 10px 0;
    }
  
    .burger {
      display: flex;
    }

    .burger-active div {
        background-color: #ff0000;
    }
  }

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    font-family: var(--font-family-heading);
    list-style-type: none;
    padding-left: 40px;
}

@media screen and (max-width: 767px) {
    .login {
        display: none;
    }
}

.login-btn {
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    background-color: transparent;
}

.signup-btn {
    height: 36px;
    padding: 4px 16px;
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
    border-radius: 8px;
}

.container-img {
    position: relative;
    width: 100%;
    padding-top: 57px;
    margin-top: -57px;
    background: url(https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp);
    background-color: var(--color-secondary);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

@media (max-width: 767px) {
    .container-img {
        width:100%;
        background-size: auto auto;
        background-size: initial;
    }
}

.header {
    margin-top: 56px;
}

.video-2 {
    display: none;
}

.video-1 {
    display: flex;
    flex: 1 1;
    height: 400px;
    margin-bottom: -39px;
}

@media screen and (max-width: 767px) {
    .left-header {
        order: 1;
        width: 100%;
    }

    .video-1 {
        display: none;
    }

    .video-2 {
        display: flex;
        width: 100%;
        margin-bottom: 0;
    }
}

.single-line-form {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
}
  
.single-line-form label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 12px;
}
  
.single-line-form input, .single-line-form select {
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .single-line-form {
        width: 100%;
    }

    .single-line-form input {
        width: 100%;
        padding: 0;
    }
}
  
.input-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-right: 5px;
    padding-left: 15px;
}
  
.whatsapp-icon {
    color: #25D366;
    height: 20px;
    width: 20px;
    font-size: 20px;
}
  
.get-started-button {
    background-color: #36bb22;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 90px;
    height: 24px;
    font-size: 14px;
    /* margin-top: 10px; */
    border-radius: 12px;
    border: 1px solid #36bb22;
}
  
/* .get-started-button:hover {
    background-color: #128C7E;
} */

@media screen and (max-width: 767px) {
    .get-started-button {
        width: 100%;
        padding: 0;
    }
}
  
.service {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    flex-flow: row wrap;
}

.service-card {
    text-align: center;
}

.service-card h2 {
    color: #ee3425;
    margin-top: 0;
    margin-bottom: 5px;
}

.service-card h4 {
    font-size: 16px;
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .service {
        padding: 0;
        width: 100%;
    }

    .service-card {
        width: 50%;
    }

    .service-card h4 {
        font-size: 14px;
    }
}


/* Container 2 */

.container-2 {
    background-color: #fffef2;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.supply-chain {
    height: fit-content;
    margin-top: 40px;
    background-color: #fffef2;
}

@media screen and (max-width: 767px) {
    .supply-chain {
        display: flex;
        flex-direction: column-reverse;
    }
}

.supply-chain .right-card {
    padding-top: 0;
}

.map-supply-chain {
    width: 500px;
    height: auto;
    padding-left: 84px;
}

@media screen and (max-width: 767px) {
    .map-supply-chain {
        width: 100%;
        padding: 0;
    }
}

.products {
    margin-top: 0;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
}

.products h3 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    align-items: center;
    margin: 14px 0
}

@media (max-width: 767px) {
    .horizontal {
        flex-direction:column;
        align-items: center
    }
}

.title-text {
    width: 300px;
    margin-right: 50px;
    font-size: 24px;
}

@media screen and (max-width: 767px) {
    .title-text {
        width: 100%;
        margin-right: 0;
    }

    .title-text h4 {
        font-size: 16px;
    }
}

.content-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.content-img a {
    text-decoration: none;
}

.products-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 168.4px;
    height: 138.4px;
    padding: 10px 7px;
    margin: 10px;
    background: #fff;
    border: 1.5px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
    line-height: 0%;
}

@media (max-width: 767px) {
    .products-card {
        width:128px;
        height: 128px;
        padding: 0;
        margin: 8px
    }
}

.products-card h4 {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
    color: black;
}

@media (max-width: 767px) {
    .products-card h4 {
        margin-bottom:5px;
        font-size: 14px
    }
}

.find-out-more {
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: 700;
    cursor: pointer;
    color: #ee3425;
}

.find-out-more span {
    margin-right: 4px;
    font-size: 14px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .find-out-more span {
        font-size: 12px;
    }
}


/* Contanier 3 */

.container-3 {
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .container-3 {
        margin-bottom:32px;
    }
}

.container-3 h3 {
    text-align: center;
}

.prt-animate {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 120px;
    overflow: hidden;
    white-space: nowrap;
}

.img-animate {
    display: flex;
    animation: img-animate 32s linear infinite;
}

@keyframes img-animate {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-190%);
    }
}

.companies-logo {
    display: flex;
    flex-shrink: 0;
    gap: .1rem;
    align-items: center;
    justify-content: space-around;
    min-width: 100%
}

.companies-logo img {
    margin-right: 40px;
    margin-left: 40px
}


/* Container 4 */

.container-4 {
    margin-bottom: 50px;
    background: #fbdc00;
}

@media (max-width: 767px) {
    .container-4 {
        margin-bottom:32px
    }
}

.container-4 .card {
    height: fit-content;
    justify-content: space-between;
}

.x-1 {
    padding: 25px 0;
}

@media (max-width: 767px) {
    .x-1 {
        padding:10px 0;
    }
}

.x-1 h3 {
    margin: 0 0 10px 0;
    font-weight: 700;
}

.x1-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    background-color: #ee3425;
    color: #fff;
    border: 1px solid #ee3425;
    height: 36px;
    padding: 4px 16px;
    border-radius: 4px;

}

/* Container 5 */

.working {
    background-color: white;
}

.prt-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.bottom-layer {
    display: flex;
}

@media screen and (max-width: 767px) {
    .bottom-layer {
        flex-direction: column;
    }
}

.y-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-right-bottom-layer, .top-left-bottom-layer {
    margin-bottom: 120px;
}

.y-2 {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
}

@media (max-width: 767px) {
    .y-2 {
        width: 100%;
        margin-bottom: 20px;
    }
}

.stage {
    font-weight: 600;
    color: #ee3425;
    font-size: 16px;
    height: 24px;
}

.y-2 span {
    display: flex;
    line-height: 1.5;
    color: #434343;
}

.y-4 {
    padding-bottom: 5px;
    font-size: 15px;
    padding-left: 8px;
    margin: 0;
    font-weight: 100;
}

.y-3 {
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside
}

.y-3 div {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 600
}

.middle-bottom-layer {
    display: flex;
    align-items: center;
    justify-content: center
}

@media (max-width: 767px) {
    .middle-bottom-layer {
        order: -1;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .middle-bottom-layer img {
        width:280px;
        height: auto;
        margin-top: 10px;
    }
}

.middle-layer {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: "PT Sans",sans-serif;
    justify-content: space-between;
}

.middle-layer button {
    width: 200px;
    padding: 20px;
    margin-left: 20px;
    font-weight: 700;
    color: #000!important;
    border-radius: 20px;
    height: 40px;
}

.mid-btn-1 {
    background-color: #fbdc00;
    border: #fbdc00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-btn-2 {
    background: #e5dfdf;
    border: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .middle-layer {
        flex-direction: column;
    }

    .middle-layer button {
        margin-left: 0;
    }

    .mid-btn-1 {
        margin-bottom: 16px;
    }
}


/* Container 6 */

.container-6 {
    margin-bottom: 50px;
    background: #fffef3;
}

.container-6 .card {
    display: flex;
    flex-direction: column;
}

.industry {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .industry {
        justify-content: center;
    }
}

.industry-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 100px;
}

.industry-comp img {
    height: 100px;
    width: 100px;
}

.industry-comp div {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-align: center;
    line-height: 1.5;
}


/* Container 7 */

.container-7 {
    margin-bottom: 50px;
}

.container-7 .card {
    display: flex;
    align-items: center;
    padding: 16px 100px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .container-7 .card {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        width: 100%!important;
        padding-right: 16px!important;
        padding-left: 16px!important
    }
}

.container-7 .right-card {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
    padding: 0;
}

.container-7 .left-card h2 {
    margin-bottom: 10px;
}

.z-1 {
    font-size: 14px;
    color: #434343;
    line-height: 1.5;
}

.z-2 {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    padding: 8px 42px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #ee3425;;
    border-radius: 8px;
}

.z-3 {
    display: block;
    object-fit: contain;
    width: 280px;
    height: 360px;
}

@media (max-width: 767px) {
    .z-3 {
        width:100%
    }

    .z-2 {
        width: 100%;
    }
}


/* Container 8 */

.container-8 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.a-1 {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.a-3 {
    width: 100%;
}

.play-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4)
}

/* @media screen and (max-width: 767px) {
    .a-1 img {
        height: 450px;
        object-fit: cover;
    }

    .play-btn {
        top: 225px;
        bottom: 225px;
    }
} */

.a-2 {
    background-color: #ee3425;;
}

.a-2 .card {
    justify-content: space-between;
}

.a-4 {
    padding: 25px 0;
    color: #fff;
}

.a-4 h3 {
    color: #fff;
    margin-bottom: 10px;
}

.a1-btn {
    background-color: #ebbe00;
    color: #000;
}


/* Container 9 */

.container-9 .card {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.blogs {
    display: flex;
}

@media (max-width: 767px) {
    .blogs {
        flex-direction: column;
    }
}

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
    margin-top: 0;
    width: calc(calc(100% / 3) - 20px);
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsla(0,0%,79%,.5);
}

@media (max-width: 767px) {
    .blog-card {
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
    }
}

.blog-img {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #fbdc00;
    object-fit: cover;
}

.blog-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px;
}

.b-1 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #ee3425;
}

.b-2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #000;
    line-height: 1.5;
}

.blog-text p {
    max-height: calc(1.4rem * 3);
    overflow: hidden;
    line-height: 1.5;
}

.b-3 {
    display: flex;
    justify-content: space-between;
}

.b-3 span {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #ee3425;
    cursor: pointer;
}

.b-3 h4 {
    margin-bottom: 5px;
    font-size: 14px;
    color: #9a9a9a;
}

.b-4 {
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
    height: 36px;
    padding: 8px 42px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
}

/* Container 10 */

.container-10 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-top: 20px;
    background-color: #fbdc00;
}

.container-10:after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    content: " ";
    background-color: #fff;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%
}

.c-1 {
    padding: 20px;
    margin: 20px;
}

@media screen and (max-width: 767px) {
    .c-2 {
        padding: 0 16px;
        text-align: center;
    }

    .c-1 {
        display: none;
    }
}

.c-2 h3 {
    margin: 0;
}

.c-2 span {
    font-size: 16px;
}

.c-3 {
    margin-top: 20px;
}

.c-3 form {
    display: flex;
}

.c-3 input {
    width: 250px;
    padding: 10px;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}

.c-3 button {
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
    width: 120px;
    height: 40px;
    padding: 4px 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .c-3 {
        display: flex;
        justify-content: center;
    }

    .c-3 input {
        display:block;
        width: 100%
    }

    .c-3 button {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: 8.5px
    }

    .c-3 form {
        margin-bottom: 20px;
    }
}


/* Footer 1 */

.footer-1 {
    display: flex;
    padding: 50px;
    padding-top: 0;
    justify-content: center;
    align-items: flex-start;
    background-color: #fbdc00;
    font-size: 14px;
    line-height: 1.5;
    /* width: 100%; */
}

.d-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.d-2 {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.d-3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: underline;
    color: #434343;
}

.d-4 {
    margin: 8px 0;
    line-height: 1.5;
}

.d-2 span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
}

.d-5 {
    visibility: hidden;
}

.contact-us {
    display: none;
}

@media screen and (max-width: 767px) {
    .footer-1 {
        flex-direction: column;
        padding: 0 16px;
        width: 100%;
    }

    .d-1 {
        background-color: #ffec64;
    }

    .d-2 span {
        margin: 0;
        font-size: 16px;
        cursor: pointer;
    }

    .d-2 h4 {
        color: #ee3425;
        font-weight: 700;
        margin-bottom: 0;
    }

    .d-3 {
        margin-top: 0;
        text-decoration: none;
        padding-top: 16px;
        color: #000;
        font-family: "PT Sans",sans-serif;
        height: 56px;
        display: flex;
        align-items: start;
        background-color: #fbdc00;
    }

    .d-4 {
        font-size: 16px;
    }

    .d-5 {
        display: none;
    }

    .d-6, .d-7, .d-8, .d-8, .d-9, .d-10 {
        display: none;
    }

    .contact-us {
        display: block;
    }
}


/* Footer 2 */

.footer-2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0;
    background-color: #ebbe00;
    line-height: 1.5;
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .footer-2 {
        display: none;
    }
}

.e-1 {
    display: flex;
    flex-direction: column;
}

.e-1 a {
    width: fit-content;
    line-height: 2rem;
    color: #000;
    text-decoration: none;
}

/* Footer 3 */

.footer-3 {
    display: flex;
    padding: 8px 30px;
    justify-content: space-between;
    background-color: #ebbe00;
    /* width: 100%; */
}

.f-1 {
    display: flex;
    align-items: center;
    height: 42px;
}

@media screen and (max-width: 767px) {
    .footer-3 {
        flex-direction: column-reverse;
        padding-bottom: 28px;
    }

    .f-1 {
        flex-direction: row-reverse;
        justify-content: start;
    }

    .f-1.f-7 {
        height: fit-content;
        justify-content: flex-end;
    }
}

.f-3 {
    margin-left: 10px;
    font-family: "Ubuntu",sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #434343;
}

.f-4 {
    color: #000;
    padding-left: 40px;
}

@media screen and (max-width: 767px) {
    .f-4 {
        display: none;
    }

    .f-3 {
        justify-content: flex-start;
        align-items: start;
    }
}

.f-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 14px;
}

.f-5 img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.f-5 div {
    text-decoration: underline;
    color: #ee3425;
    font-weight: 700;
}

.f-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.f-6 a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 767px) {
    .f-6 {
        padding: 0;
        padding-right: 8px;
    }
}


